{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }} - Les Familles
{% endblock %}

{% block body %}
  <main>
    <section>
      <h1 class="text-center text-6xl font-semibold text-blue-900 mt-20">Les familles de cultures potagère</h1>

      <ul class="flex flex-wrap justify-evenly mt-6">
        {% for family in families %}
          <li class="flex flex-col rounded-2xl w-[20%] m-5 bg-[#ffffff] shadow-xl hover:shadow-2xl hover:shadow-blue-950 transition-shadow">
            <figure class="flex justify-center items-center rounded-2xl">
              <img src="{{ asset('images/' ~ family.familyPicture) }}" alt="vegetable picture" class="rounded-t-2xl" />
            </figure>

            <div class="flex flex-col p-8">
              <div class="text-3xl font-bold text-[#374151] pb-6">
                <h2>{{ family.name }}</h2>
              </div>
              <div class="text-lg text-[#374151]">
                <p>{{ family.description }}</p>
              </div>
              <div class="flex justify-end pt-6">
                <a href="{{ path('app_families_item', { id: family.id }) }}" class="bg-blue-900 text-[#ffffff] text-center w-full font-bold text-base p-3 rounded-lg hover:bg-stone-700 active:scale-95 transition-transform transform ml-5">En voir plus</a>
              </div>
            </div>
          </li>
        {% else %}
          <li class="p-6 bg-red-100 border border-red-200 rounded-lg">
            <p class="text-red-700 text-lg font-medium">Aucune famille trouvée</p>
          </li>
        {% endfor %}
      </ul>
            <div class="text-3xl flex justify-center mt-10 mb-10 space-x-3 text-blue-900 font-semibold">{{ knp_pagination_render(families) }}</div>
    </section>
  </main>
{% endblock %}
